<div class="container table-container">
	<table class="table">
		<tr>
			<th>Founder</th>
			<th>Record Label</th>
			<th>Scene</th>
			<th>Band One</th>
			<th>Band Two</th>
			<th>Band Three</th>
		</tr>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.firstName %> <%= user.lastName %></td>
				<td><%= user.labelName %></td>
				<td><%= user.labelScene %></td>
				<td><%= user.bandOne %></td>
				<td><%= user.bandTwo %></td>
				<td><%= user.bandThree %></td>
			</tr>
		<% end %>
	</table>
</div>