<% provide(:title, 'Sign Up') %>
<div class="container">
	<div class="well">
		<%= form_for @user, :html => {:class => "form-horizontal"} do |f|  %>
			<%= render 'shared/error_messages' %>
			<fieldset>
				<legend>New User Information
					<div class="form-group">
						<%= f.label :email, class: "col-md-2 control-label" %>
						<div class="col-md-10">
							<%= f.email_field :email, placeholder: "Email", class: "form-control" %> 
						</div>
					</div>

					<div class="form-group">
						<%= f.label :password, class: "col-md-2 control-label" %>
						<div class="col-md-10">
							<%= f.password_field :password, placeholder: "Password", class: "form-control" %>
						</div> 
					</div>

					<div class="form-group">
						<%= f.label :firstName, "First Name", class: "col-md-2 control-label" %>
						<div class="col-md-10">
							<%= f.text_field :firstName, placeholder: "First Name", class: "form-control" %>
						</div>
					</div>

					<div class="form-group">
						<%= f.label :lastName, "Last Name", class: "col-md-2 control-label" %>
						<div class="col-md-10">
							<%= f.text_field :lastName, placeholder: "Last Name", class: "form-control" %>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-10 col-md-offset-2">
							<div class="pull-right">
								<%= f.submit "Submit", class: "btn btn-primary" %> 
								<button class="btn btn-default"><%= link_to "Cancel", root_path %></button> 
							</div>
						</div>
					</div>
				</legend>
			</fieldset>
		<% end %>
	</div>
</div>

